html,body,div,ul,li{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
html{
    background: #003A5D;
}
li{
    list-style-type: none;
}
.box{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 10;
    opacity: 1;
    filter:alpha(opacity=1);
    line-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.box span{
    color: #003A5D;
    font-size: .5rem;
    position: absolute;
    left: 30%;
}
html{
    font-size: 13.02vw;
}
img{
    border: none;
}

.letter{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow:hidden;
    box-shadow: 0.14rem 0.14rem 0.36rem #000;
}
.letter img{
    width: 100%;
    height: 100%;
}
.lettermove{
    animation: move 5s ease;
}
@keyframes move {
    from{top: 0}
    to{top: 100%}
}
.open{
    position: absolute;
    bottom: 13%;
    left: 43%;
    z-index: 9;
    background: yellowgreen;
    color: #fff;
    font-size: .53rem;
    opacity: 0;
    filter:alpha(opacity=0);
}

.head{
    width: 100%;
    height: 4rem;
    text-align: center;
    position: relative;
}
.head li{
    position: absolute;
}
.head .head1,
.head .head2,
.head .head3,
.head .head4
{
    opacity: 0;
    filter:alpha(opacity=0);
}

.head img{
    width: 100%;
}

.main{
    border: .02rem solid #D9B882;
    width: 88%;
    margin: 1rem auto;
    margin-bottom: .2rem;
    height:100%;
    clear: both;
}
.main .shadow{
    box-shadow: 0.14rem 0.14rem 0.36rem #000;
    margin-top: .35rem;
}
.main li{
    position: relative;
}
.main li img{
    vertical-align: bottom;
}
.main .f1{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}
.main1{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.main .first{
    margin-top: 0;
}
.main1 img{
    width: 100%;
    height: 100%;
}
.main2{
    width: 100%;
    margin: 0 auto;
    position: relative;
    clear: both;
}
.main2 img{
    width: 100%;
}
.contant{
    height: 100%;
}
.footer{
    width: 100%;
    margin-top: .35rem;
}

.footer img{
    width: 100%;
}
.three,.four,.five,.six,.seven,.eight,#end,.footer,.arrow{
    display: none;
}
.f14,
.f15,
.f16,
.f17,
.f18,
.f19
{
    opacity: 0;
    filter:alpha(opacity=0);
}

.row{
    width: 100%;
    height: 100%;
    background: burlywood;
    font-size: 30px;
    display: none;
    opacity: 0;
    filter:alpha(opacity=0);
}
.row img{
    width: 100%;
    animation: second 2s linear;
}

@keyframes second {
    from{transform: scale(0.1);}
    to{transform: scale(1);}
}

.commont{
    animation: three 2s linear;
}
@keyframes three {
    from{transform: scale(0.1);}
    to{transform: scale(1);}
}

.arrow{
    display: flex;
    height: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
@keyframes  first{
    from{transform: scale(0.5);}
    to{transform: scale(1.5);}
}
.arrow1{
    position: absolute;
    width: .6rem;
    top: 15%;
    left: 47%;
    transform: rotate(180deg);
}
.arrow1 img{
    width: 100%;
    animation: first 1s linear 1s infinite;
}
.text{
    animation: six 4s linear;
}
@keyframes six {
    from{opacity: 0}
    to{opacity: 1}
}

