html,body,div,ul,li{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
html{
    background: #1b3856;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;
    height: 100%;
    background: #fdfcfc;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 100;
    opacity: 1;
    filter:alpha(opacity=1);
    line-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.box img{
    position: absolute;
    left: 34%;
    top: 39%;
}
html{
    font-size: 13.02vw;
}
img{
    border: none;
}
.letter{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background: url('images/letter.png') no-repeat;
    background-size: 100% 100%;
    top:0;
}
.letter img{
    width: 100%;
    height: 100%;
}
.open{
    position: absolute;
    bottom: 13%;
    left: 43%;
    z-index: 9;
    font-size: .53rem;
    opacity: 0;
    filter:alpha(opacity=0);
}
.wrapper{
    overflow: hidden;
}
.head{
    width: 100%;
    height: 5rem;
    text-align: center;
    position: relative;
}
.head li{
    position: absolute;
}
.head .head1,
.head .head2,
.head .head3,
.head .head4
{
    width: 100%;
    height: 100%;
    opacity: 0;
    filter:alpha(opacity=0);
}
.head1{
    background: url(images/top1.png) no-repeat;
    background-size: 100% 100%;
}
.head2{
    background: url(images/top2.png) no-repeat;
    background-size: 100% 100%;
}
.head3{
    background: url(images/top3.png) no-repeat;
    background-size: 100% 100%;
}
.head4{
    background: url(images/top4.png) no-repeat;
    background-size: 100% 100%;
}

.main{
    border: .05rem solid #D9B882;
    width: 88%;
    margin: 0.2rem auto 1rem;
    margin-bottom: .2rem;
    height:100%;
    clear: both;
    opacity: 0;
    filter:alpha(opacity=0);
}
.main .shadow{
    -moz-box-shadow: 0.14rem 0.14rem 0.36rem #000; /* FF3.5+ */
    -webkit-box-shadow: 0.14rem 0.14rem 0.36rem #000; /* Saf3.0+, Chrome */
    box-shadow: 0.14rem 0.14rem 0.36rem #000;
    margin-top: .35rem;
}
.main li{
    position: relative;
    width: 100%;
    height: 3.9rem;
    z-index: -11;
}
 .main .f1{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}
.main .first{
    margin-top: 0;
}
.main div{
    width: 100%;
    height: 100%;
}
.main img{
    width: 100%;
    height: 100%;
}
.contant{
    height: 100%;
}
.contant .main .footer{
    width: 100%;
    height: 9.6rem;
    margin-top: .35rem;
    background: url('images/bot.png') no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
.first,.second,.three,.four,.five,.six,.seven,.eight,#end,.footer,.arrow{
    display: none;
}
.footer a{
    font-size: .3rem;
    position: absolute;
    top: 65%;
    left: 37%;
    color: #fff;
    font-weight: bold;
    z-index: 110;
    text-shadow: 0.15rem 0.15rem 0.1rem #000;
}
.f11,
.f12,
.f13,
.f14,
.f15,
.f16,
.f17,
.f18,
.f19
{
    opacity: 0;
    filter:alpha(opacity=0);
}
.commont{
    -webkit-animation: three 1.8s linear;
    -moz-animation: three 1.8s linear;
    -ms-animation: three 1.8s linear;
    -o-animation: three 1.8s linear;
    animation: three 1.8s linear;
}
@-webkit-keyframes three {
    from{
        -moz-transform: scale(0.1);
        -o-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        transform: scale(0.1);}
    to{
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);}
}
@keyframes three {
    from{
        transform: scale(0.1);
 }
    to{
        transform: scale(1);  }
}
.arrow{
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left:33%;
}
@-webkit-keyframes  first{
    from{
        -moz-transform: scale(0.6);
        -o-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        transform: scale(0.6);}
    to{
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);}
}
@keyframes  first{
    from{
        transform: scale(0.6);
}
    to{
        transform: scale(1);
 }
}
.arrow2{
    -webkit-animation: first 1.5s linear 1s infinite;
    -moz-animation: first 1.5s linear 1s infinite;
    -ms-animation: first 1.5s linear 1s infinite;
    -o-animation: first 1.5s linear 1s infinite;
    animation: first 1.5s linear 1s infinite;
}
.text{
    -webkit-animation: six 4s linear;
    -moz-animation: six 4s linear;
    -ms-animation: six 4s linear;
    -o-animation: six 4s linear;
    animation: six 4s linear;
}
@-webkit-keyframes six {
    from{opacity: 0;filter:alpha(opacity=0)}
    to{opacity: 1;filter:alpha(opacity=100)}
}
@keyframes six {
    from{opacity: 0;filter:alpha(opacity=0)}
    to{opacity: 1;filter: alpha(opacity=100)}
}
.back {
    font-size: 0.2rem;
    color: #fff;
    position: fixed;
    right: 7%;
    font-family: Microsoft YaHei;
    font-weight: bold;
    bottom: 3%;
    display: none;
    z-index: 200;
}
.boss_bot{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    filter:alpha(opacity=70);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}
.row{
    position:fixed;
    left: 0;
    width: 100%;
    display: none;
    z-index: 200;
    font-size: 0;
}
.row img{
    width: 100%;
    position: absolute;
    animation: boxshdow 0.2s linear 0s infinite;
}
@keyframes boxshdow {
    0%{
        -moz-box-shadow: 0 0 3.5rem #fff; /* FF3.5+ */
        -webkit-box-shadow: 0 0 3.5rem #fff;; /* Saf3.0+, Chrome */
        box-shadow: 0 0 3.5rem #fff;}
    50%{
        -moz-box-shadow: 0 0 3.5rem #fff; /* FF3.5+ */
        -webkit-box-shadow: 0 0 3.5rem #fff;; /* Saf3.0+, Chrome */
        box-shadow: 0 0 3.5rem yellow;}
    100%{
        -moz-box-shadow: 0 0 3.5rem #fff; /* FF3.5+ */
        -webkit-box-shadow: 0 0 3.5rem #fff;; /* Saf3.0+, Chrome */
        box-shadow: 0 0 3.5rem gold;}
}
.arrow3{
    position: absolute;
    top: -18%;
    z-index: 199;
    display: none;
    width: 2.5rem;
}
.arrow3 img{
        width: 100%;;
}
.arrow1{
    position: absolute;
    width: 2.5rem;
    display: none;
    z-index: 199;
    margin: 0 auto;
}
.arrow1 img{
    width: 100%;
}
@media screen and (max-width: 767px){
    .botmove{
        -webkit-animation: botmove 2s linear;
        -moz-animation: botmove 2s linear;
        -ms-animation: botmove 2s linear;
        -o-animation: botmove 2s linear;
        animation: botmove 2s linear;
    }
    @keyframes botmove {
        from{top: 90%;transform: scale(0);}
        to{top:30%;transform: scale(1);}
    }
    @-webkit-keyframes botmove {
        from{
            top: 90%;
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        to{
            top:30%;
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}
@media screen and (min-width: 768px) {
    .botmove{
        -webkit-animation: botmove 2s linear;
        -moz-animation: botmove 2s linear;
        -ms-animation: botmove 2s linear;
        -o-animation: botmove 2s linear;
        animation: botmove 2s linear;
    }
    @keyframes botmove {
        from{top: 85%;transform: scale(0);}
        to{top:30%;transform: scale(1);}
    }
    @-webkit-keyframes botmove {
        from{
            top: 85%;
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        to{
            top:30%;
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}



